/* CSS Document */
.logo { background: url("../img/identity/full_logo274.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 76px;
    margin: 0 auto;
    text-indent: -99999px;
    width: 258px; }
